.MainChat
  .MainChat__Header
    .MainChat__Header--GroupName
      = @group.name
      .MainChat__Header--GroupName--GroupMember
        Member: 
        - @group.users.each do |user|
          = user.name
    .MainChat__Header--Edit
      = link_to edit_group_path(@group.id), class: "main__btn" do
        Edit
  .MainChat__Messages
    = render @messages
  .MainChat__Forms
    / %form.new_message
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: "type a message"
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'
